header {
  position: relative;
  padding: 0 2rem;
  padding-top: 5rem;
  height: calc(100vh  + 600px - 5rem);
}

.header-title {
  text-align: center;
  position: fixed;
  width: 80%;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--blue);
}

.header-title p {
  max-width: 20rem;
  line-height: 1.2rem;
  color: var(--gray);
  margin: .3rem auto;
}

header img {
  position: fixed;
  bottom: -2rem;
  height: 70vh;
  transform: translateX(-50%);
  left: 50%;
}



@media (min-width: 425px) {

  .header-title h1 {
    font-size: 3rem;
  }

  .header-title p {
    font-size: 1.1rem;
  }

}


@media (min-width: 768px) {

  .header-title h1 {
    font-size: 3.5rem;
  }

  .header-title p {
    max-width: 25rem;
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
  }

}
