:root {
  --blue: #05386B;
  --dark-gray: rgb(70,70,70);
  --gray: rgb(160,160,160);
  --light-gray: rgb(220,220,220);
  --shadow: 0 0 10px rgba(100,100,100,.2);
  --green: #32CD32;
  --transparent: rgba(0,0,0,.0);
}

body {
  min-height: 100vh;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, button, a {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background-color: rgba(0,0,0,.0);
  border: none;
  cursor: pointer;
  transition: 0.3s background;
}

button:focus {
  outline: none;
}

.rounded-button {
  background-color: white;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5rem;
  font-weight: 500;
}

.rounded-button.button-green {
  border: 2px solid var(--green);
  color: var(--green);
}

.rounded-button.button-green-filled {
  border: 2px solid var(--green);
  color: white;
  background-color: var(--green);
}

.rounded-button.button-blue {
  border: 2px solid var(--blue);
  color: var(--blue);
}

.rounded-button.button-blue-filled {
  border: 2px solid var(--blue);
  color: white;
  background-color: var(--blue);
}

.shadow {
  box-shadow: var(--shadow);
}

.only-tablet {display: none}

.only-pc {display: none;}

.tablet-and-pc {display: none;}

/*ICON SIZES*/
.md-35 {font-size: 35px !important;}


@media (min-width: 768px) {

  .only-mobile {display: none;}

  .only-tablet {display: block}

  .tablet-and-pc {display: block;}

  .rounded-button.button-green:hover {
    background-color: var(--green);
    color: white;
  }

  .rounded-button.button-green-filled:hover {
    background-color: white;
    color: var(--green);
  }

  .rounded-button.button-blue:hover {
    background-color: var(--blue);
    color: white;
  }

  .rounded-button.button-blue-filled:hover {
    background-color: white;
    color: var(--blue);
  }

}


@media (min-width: 1024px) {


  .only-tablet {display: none}

  .only-pc {display: block;}

  .mobile-and-tablet {display: none;}



}
